@import "compass/reset";
@import "includes/fonts";
@import "includes/vars";
@import "includes/extends";

html{
	height: 100%;
	font: 10px/1 Arial, Helvetica, sans-serif;
	font-weight: 400;
}
body{
	height: 100%;
}
.wrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1600px;
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0 0 410px;
}

@import "includes/sections/_header";
@import "includes/sections/_features";
@import "includes/sections/_works";
@import "includes/sections/_team";
@import "includes/sections/_facts";
@import "includes/sections/_contacts";
@import "includes/sections/_footer";

@media only screen and (max-width: 1200px){
	.team_hover{
		opacity: 1;
		background: transparent;
	}
	.team_hover_title, .team_hover_text{
		display: none;
	}
	.team_hover_social_list{
		position: absolute;
		bottom: 0;
		left: 40%;
		transform: translateX(-30%);
	}
}
@media only screen and (max-width: 1100px){
	.wrapper{
		padding-bottom: 500px;
	}
	.footer{
		height: 500px;
	}
	.footer_list{
		margin-right: -1%;
	}
	.footer_item{
		width: 33%;
		&:last-child{
			margin-left: 33%;
		}
	}
}
@media only screen and (max-width: 1050px){
	.team{
		padding-bottom: 100px;
	}
	.team_list{
		margin-right: -1%;
	}
	.team_item{
		width: 33%;
		&:last-child{
			margin-top: 40px;
			margin-left: 33%;
		}
	}
}
@media only screen and (max-width: 1000px){
	.works_img_item{
		width: 50%;
	}
}
@media only screen and (max-width: 900px){
	.features_list{
		margin-right: 0;
	}
	.features_item{
		width: 50%;
		&:last-child{
			margin: 40px 0 0 25%;
		}
	}


	.contacts_social_list{
		display: none;
	}
	.message{
		margin-right: 0;
		max-width: 1000px;
	}
	.message_name_email{
		margin-right: -30px;
	}
	.textarea{
		padding-right: 0;
	}
	[name=send]{
		margin-right: 0;
	}
}
@media only screen and (max-width: 800px){
	.team_list{
		margin-right: 0;
	}
	.team_item{
		width: 50%;
		&:last-child, &:nth-child(3){
			margin-top: 40px;
			margin-left: 0;
		}
	}


	.facts_list{
		margin-right: -1%;
	}
	.facts_item{
		width: 33%;
		&:last-child{
			margin-top: 220px;
			margin-left: 33%;
		}
	}


	.contacts_adress{
		display: none;
	}
	.message{
		margin-left: 0;
	}


	.wrapper{
		padding-bottom: 570px;
	}
	.footer{
		height: 570px;
	}
	.footer_list{
		margin-right: 0;
	}
	.footer_item{
		width: 50%;
		&:last-child{
			margin-left: 0;
		}
		&:nth-child(3){
			margin-top: 50px;
		}
	}
}
@media only screen and (max-width: 700px){
	.nav{
		position: relative;
	}
	.nav_menu{
		position: absolute;
		top: 0;
		right: 0;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAcCAYAAAAAwr0iAAAAdUlEQVRIS+2VQQqAMAwEG5M/6Kf6Wj+lf0iIW70I4jUIbmHpcbYDZaW1JpnZcS9I5dlEZBUQJ3fvqjpX0iNiN7OrAGKIDhtFJRKcQHwA7ynin5hRIqte/PowFqABGviEAW4Bt6BygB6sT/wCGqABGuAW/HsLDsUyNi9Kkz6nAAAAAElFTkSuQmCC") no-repeat;
		width: 30px;
		height: 26px;
		margin: 30px 10px 0 0;
		cursor: pointer;
	}
	.nav_list{
		display: none;
		position: absolute;
		top: 70px;
		right: 0;
		width: calc(100vw - 40px);
		padding: 30px 0;
		background: transparentize(#000, 0.06);
		z-index: 2;
		box-shadow: 3px 3px 3px 0 transparentize(#000, 0.7);
	}
	.nav_close{
		position: absolute;
		top: 20px;
		right: 20px;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAABUklEQVRIS7XWMZYBQRAG4C4ZsXusxHMBIifYdB0BOZFI6AKSvcCKdg+wSLgHqfEeT+lq3pgxPd1VrU00byb4pqp7/i7oDcdLpa/DBbvf09GO7mNfn/1RvVaBBaIC+BqM/wGgpRA3B8RObJSwKlT+ANSHUrgCowP8aruhv2Cb4KUdC81h94KA2vcO1IZRIQaMjZZh5KRgLNSFFcBXUR9mBUNRDlYKSlEu5gS5qATzgj5UirHAMpSepwkiSKncb+HK0OdwMF9LcSXA2BXawsE8E2JB4COIyZNnr6il2TUzFQYEPgu07UbyQk4ZL+ja+iGnjBPk/GdStBTkYLbd69tIVlCCSdECGIJJ0MIBHBJX2YTyrWluxHgV41SaDlGxMB9qxsQsdkqO7flssncFOfedrb00CK/0INykII6J2SvFtZm86eU5OXZjVfbcgVsX4UcfZ3AFe3QTgacgRO8AAAAASUVORK5CYII=")no-repeat;
		width: 28px;
		height: 28px;
		cursor: pointer;
		z-index: 3;
	}
	.nav_item{
		float: none;
		margin-right: 0;
		padding: 0;
		&+.nav_item{
			margin-top: 30px;
		}
		&:hover{
			padding: 0;
			border: none;
			color: $color_features_title;
		}
	}



	.header_title{
		font-size: 4.2rem;
		& span{
			font-size: inherit;
		}
	}
	.header_title_tag{
		font-size: 2.8rem;
	}
	.header_title_team{
		font-size: 1.4rem;
	}


	.features_list{
		margin-right: 0;
		margin-left: 0;
	}
	.features_item{
		width: 100%;
		margin-top: 40px;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			margin-left: 0;
		}
	}
}
@media only screen and (max-width: 600px){
	.facts{
		padding-bottom: 100px;
	}
	.facts_list{
		margin-right: 0;
	}
	.facts_item{
		width: 50%;
		&:last-child, &:nth-child(3){
			margin-top: 220px;
			margin-left: 0;
		}
	}
}
@media only screen and (max-width: 550px){
	.wrapper{
		padding-bottom: 650px;
	}
	.footer{
		height: 650px;
	}
	.footer_list{
		margin-top: 50px;
	}
	.footer_item{
		width: 100%;
		margin-top: 30px;
		&:nth-child(3){
			margin-top: 30px;
		}
	}
	.footer_text, .footer_subscribe_button, .footer_explore_list{
		margin-top: 20px;
	}
	.footer_subscribe_text, .footer_explore_link{
		margin-top: 10px;
	}
	.footer_created::before{
		display: none;
	}
	.copyright{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 500px){
	.header_title{
		font-size: 3.2rem;
		& span{
			font-size: inherit;
		}
	}
	.header_title_tag{
		font-size: 2rem;
	}
	.header_title_team{
		font-size: 1.2rem;
	}


	.features{
		padding-bottom: 100px;
	}
	.features_item{
		padding-left: 56px;
		&::before{
			left: 14px;
		}
		&::after{
			left: 0;
		}
	}


	.works_img_item{
		width: 100%;
	}
}
@media only screen and (max-width: 450px){
	.wrapper{
		padding-bottom: 700px;
	}
	.footer{
		height: 700px;
	}
}
@media only screen and (max-width: 400px){
	.logo_tag{
		display: none;
	}


	.team_item{
		width: 100%;
		&:nth-child(n+2){
			margin-top: 40px;
		}
	}


	.facts_item{
		width: 100%;
		&:last-child, &:nth-child(3), &:nth-child(2){
			margin-top: 220px;
		}
	}


	.message_name_email{
		margin-right: 0;
		height: 170px;
	}
	.name, .email{
		width: 100%;
		padding-right: 0;
	}
	.email{
		margin-top: 50px;
	}
}