- var nav=["Home","Features","Works","Team","Contact"]
- var features={arrTitle:["branding","development","consulting"],arrText:["Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore","Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore","Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore"]}
- var worksNav=["all","branding","web","logo design","photography"]
- var worksImg=["1","2","3","4","5","6","7","8"]
- var team={arrImg:["john","chystine","martin","steve"],arrName:["John Filmr Doe","Chystine Hineu","Martin Matrone","Steve Flaulkin"],arrPosition:["Managing Director","Lead Designer","Lead Developer","Sr. UI Designer"]}
- var facts={arrNumber:["3200","120","360","42"],arrText:["Hours of Work","Satisfied Clinets","Projects delivered","Awards Won"],arrIco:["hours","clients","projects","awards"]}
- var name={className:"name",labelText:"Name",type:"text",placeholder:"Name"}
- var email={className:"email",labelText:"Email",type:"text",placeholder:"Email"}
- var textarea={className:"textarea",labelText:"Message",textarea:true,placeholder:"Message"}
- var send={className:"send",labelText:"Send Message",button:true,textButton:"Send Message"}
- var contactSocial=["behance","twitter","dribbble","forrst","google"]
- var explore1=["Envato","Themecurve","Kreativeshowcase","Freebiescurve"]
- var explore2=["Themeforest","Microsoft","Google","Yahoo"]