$color_header_top_bg: #101636;
$color_header_title_tag_span: #0feb9e;
$color_features_bg: #f4f7f9;
$color_features_title: #0eb493;
$color_features_list_title: #062033;
$color_adress_text: #6a737b;
$color_input_placeholder: #5b646e;
$color_footer_bg: #21b697;